{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h3>HAKKIMDA</h3>
    <hr>

    Ben, yaratıcı ve meraklı bir kişilik olarak kendimi görüyorum. Yeni şeyler öğrenmeyi ve keşfetmeyi seven biriyim. 
    Empati yeteneğim güçlüdür; çevremdeki insanların duygularını anlamak ve onlara destek olmak benim için önemlidir. 
    Geniş bir ilgi alanım var; kültürel etkinlikler ve sanatsal faaliyetlerle ilgilenmekten keyif alıyorum. 
    Duygusal olarak derin ve düşünceliyim; iç dünyamdaki karmaşık duyguları işlemek ve anlamak benim için doğal bir süreçtir. 
    Sabırlı ve kararlı biriyim; hedeflerime ulaşmak için uzun vadeli düşünür ve çaba gösteririm. Mizah anlayışım kuvvetlidir ve çevremdekileri güldürmekten hoşlanırım.
    Yaratıcılığımı farklı alanlarda ifade etmeye eğilimliyim; sanat, yazı, müzik gibi alanlarda yeteneklerim bulunmaktadır. 
    İçsel bir araştırmacıyım; dünyayı ve toplumu anlamak için sürekli olarak sorular sorar ve bilgi edinmeye çalışırım. 
    Değişime açık bir insanım; yeni deneyimlere ve fikirlere karşı önyargısız bir şekilde yaklaşırım. 
    Yakın çevremde, dürüstlüğüm, sadakatim ve güvenilirliğimle tanınırım; çünkü benim için değerli olan ilişkilerim benim için her şeyden önce gelir.
    <hr>
</div>

{% endblock %}